[user]
  name = Dmitry Demenchuk
  email = dmitry@demenchuk.me
[alias]
# git change-commits GIT_COMMITTER_NAME "old name" "new name"
# git change-commits GIT_AUTHOR_EMAIL "old@email.com" "new@email.com"
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
  
  lol = "log --graph --decorate --pretty=oneline --abbrev-commit --all"
