import React, { Component } from 'react';
import PropTypes from 'prop-types';

class {{FILE}} extends Component {
  static propTypes = {};

  render() {
    const {} = this.props;

    return (
      <div>
        {{CURSOR}}
      </div>
    );
  }
}

export default {{FILE}};
